h4, h5 {
	line-height: 1.5em;
	margin: 0;
	font-size: 12px;
	color:#4CAF50;
}

p { margin: 0; }

.chat-message {
	margin: 6px 0;
}

.chat-message-content {
	margin-left: 5px;
	font-size: 12px;
}

.chat-time {
	float: right;
	font-size: 13px;
}

