<div class="data-summary-container">
  <h3 id="title">Subscription Survey Results conducted for a group of 100 students</h3>

  <div>
    <div class="summary-content">
        <br>
         <ul>
            <li>Do you use an Android device or an iPhone?
	            <ul>
		            <li>67.3% users use an iPhone</li>
		            <li>22.7% users use an Android device</li>
	            </ul>
            </li>
            <br>
            <li>Which music subscription application do you prefer?
	            <ul>
		            <li>32.2% users like using Apple Music</li>
		            <li>20% users like using Google Play Music</li>
		            <li>21.8% users like using Spotify</li>
		            <li>17.8% users like using Pandora</li>
		            <li>8.2% users like using Amazon Music</li>
	            </ul>
            </li>
            <br>
            <li>Which movie and TV shows subscription application do you prefer?
	            <ul>
		            <li>45.4% users like using Netflix</li>
		            <li>21.3% users like using Hulu</li>
		            <li>18.1% users like using Amazon Video</li>
		            <li>12.8% users like using HBO NOW</li>
		            <li>2.2% users like using HotStar</li>
	            </ul>
            </li>
            <br>
            <li>Will you be willing to pay for a news subscription channel?
	            <ul>
	            	<li>16.2% users said Yes</li>
		            <li>83.8% users said No </li>
	            </ul>
            </li>
            <br>
            <li>What genre of game would you pay for?
	            <ul>
		            <li>11.3% users will pay for Action</li>
		            <li>19.2% users will pay for Arcade</li>
		            <li>8.2% users will pay for Card</li>
		            <li>13.3% users will pay for Casual</li>
		            <li>30.2% users will pay for Puzzle</li>
		            <li>8.2% users will pay for Sports</li>
		            <li>9.6% users will pay for Racing</li>
	            </ul>
            </li>
            
        </ul> 
        <br>
    </div>

  </div>
</div>

<router-outlet></router-outlet>